
      <nav class="navbar navbar-expand-lg main-nav px-0">
        <a class="navbar-brand" href="/home">
          <img src="../../../assets/logo.png"> 
					    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar icon-bar-1"></span>
                        <span class="icon-bar icon-bar-2"></span>
                        <span class="icon-bar icon-bar-3"></span>
                    </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav ml-auto text-uppercase f1">
            <li>
              <a href="/home"> home </a>
            </li>
            <li>
              <a href="#about">about us</a>
            </li>
            <li>
              <a href="/login">Registrarse</a>
            </li>
            <li>
              <a href="/login">Iniciar Sesión</a>
            </li>
           
          </ul>
        </div>
      </nav>
    