
  <div class="blockquote-wrapper">
    <div class="blockquote">
      <h1>
        Compra y Vende criptomonedas fácilmente
       </h1>
      <h4>Aprovecha las comisiones más bajas del mercado</h4>
      <br>
      <div class="botones">
      <div class="btn-group" role="group" aria-label="">
        <button class="button">
          Iniciar Sesión
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
        <button class="button">
          Registrarse
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    </div>
        
    </div>
    </div>  
    <br>
    <br>
    
  
 

<div class="card-group">
  <div class="blog-card spring-fever">
    <div class="title-content">
      <h3>Comience en tan solo un minuto</h3>
      <div class="intro"> <a href="#"></a> </div>
    </div>
    <div class="card-info">
      Inicie siguiendo estos tres sencillos pasos
      <a href="#">Guía<span class="licon icon-arr icon-black"></span>
     </a></div> 
     
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->
  <div class="blog-card spring-fever">
    <div class="title-content">
      <h3>Nuevo en el mundo de las criptomonedas?</h3>
      <div class="intro"> <a href="#"></a> </div>
    </div>
    <div class="card-info">
      Desarrollamos una experiencia intuitiva desde el inicio
     </div> 
     
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->
</div>
