
  <div class="blockquote-wrapper">
    <div class="blockquote">
      <h1>
        Compra y Vende criptomonedas fácilmente
       </h1>
      <h4>Aprovecha las comisiones más bajas del mercado</h4>
      <br>
      <div class="btn" role="group">
        <div class="svg-wrapper">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="150" />
            <div id="text">
              <a href=""><span class="spot"></span>Button 1</a>
            </div>
          </svg>
        </div>
      <button type="button" class="btn btn-outline-dark">Registrarse</button>
    </div>
    </div>  
    
</div>

<section class="container">

    

        <div class="blog-card spring-fever">
          <div class="title-content">
            <h3>Comience en tan solo un minuto</h3>
            <div class="intro"> <a href="#"></a> </div>
          </div>
          <div class="card-info">
            Inicie siguiendo estos tres sencillos pasos
            <a href="#">Guía<span class="licon icon-arr icon-black"></span>
           </a></div> 
           
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </div><!-- /.blog-card -->
        <div class="blog-card spring-fever">
          <div class="title-content">
            <h3>Comience en tan solo un minuto</h3>
            <div class="intro"> <a href="#"></a> </div>
          </div>
          <div class="card-info">
            Inicie siguiendo estos tres sencillos pasos
            <a href="#">Guía<span class="licon icon-arr icon-black"></span>
           </a></div> 
           
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </div><!-- /.blog-card -->

  </section>