
  <section id="tittle">
    <br>
  <div class="blockquote-wrapper">
    <div class="blockquote">
      <h1>
        Compra y Vende criptomonedas desde Cuba
       </h1>
      <h4>Aprovecha las comisiones más bajas del mercado</h4>
      <br>
      <div class="botones">
      <div class="btn-group" role="group" aria-label="">
        <button class="button" data-toggle="modal" data-target="ModalLogin">
          Iniciar Sesión
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
        <button class="button">
          Registrarse
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    </div>
        
    </div>
    </div> 
  </section> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id ="a1">
      <div id = "a1">
        <h1 class="a1">Compra y Vende CriptoMonedas Facilmente</h1>
        <h5 class = "a1">Aprovecha las comisiones mas bajas del mercado</h5>
        <div class="img1">
          <img src="../../../assets/img/a1.png" alt="">
        </div>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <section id="a2">
     
      <div id = a2>
        <h3 class="a1">Proceso Facil</h3>
        <h2 class="a1"> Demora solo 5 Minutos </h2>
        <section id="cd-timeline" class="cd-container">
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
      
            <div class="cd-timeline-content">
              <h2 class="a1">Inscribirse </h2>
              <h5 class="a1">Regístrese en la plataforma</h5>
              </div>          
              <div class="img21">
                <img src="../../../assets/img/a21.png" alt="">
              </div>  
            </div> <!-- cd-timeline-content -->
           <!-- cd-timeline-block -->
      <br>
      <br>
     
     
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
      
            <div class="cd-timeline-content">
              <h2 class="a1">Verificate </h2>
              <h5 class="a1">Utiliza nuestro sistema de verificación para operar con confianza</h5>
              
              </div>  
              <div class="img22">
                <img src="../../../assets/img/a22.png" alt="">
              </div>            
            </div> <!-- cd-timeline-content -->
           <!-- cd-timeline-block -->
           <br>
           
         
         
          
           <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
           </div>

           <div class="cd-timeline-content">
            <h2 class="a1">Listo! </h2>
            <h5 class="a1">Comienza a comprar y vender</h5>
            </div>            
            <div class="img23">
              <img src="../../../assets/img/a23.png" alt="">
            </div> 
            
         
        </section> <!-- cd-timeline -->
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="a3">
      <div class="a3">
        <h2> ¿Nuevo en el mundo de las criptomonedas? </h2>
        <h3>No hay problema.</h3>
        <h3>Desarrollamos una experiencia intuitiva desde el inicio.</h3>
        
        <div class="img3">
          <img src="../../../assets/img/a3.png" alt="">
        </div>
        <h4>Desde el primer dia diseñamos una plataforma intuitiva y optimizada tanto para los recien llegados como para los expertos</h4>
      </div>
       
      


    </section>